async-scope/src/main/mule/async-scope-Flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="async-scope-FlowFlow" doc:id="3f48b835-b0b3-46a4-9fe6-e99f92a2c606" >
		<http:listener doc:name="Listener" doc:id="77d25153-2834-443f-b133-c8287c38054d" config-ref="HTTP_Listener_config" path="async-scope"/>
		<ee:transform doc:name="Transform Message" doc:id="0ea0060b-0952-47b8-ab54-e00844b13bfc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<async doc:name="Async" doc:id="2679094a-5460-4f9b-b360-c6d871e5db5f" >
			<ee:transform doc:name="Transform Message" doc:id="63056a2f-00f0-4abb-9af6-81258a6c93f8" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="1442a816-eaae-4225-8e89-c0d183387f88" config-ref="File_Config" path="async-flow-data" mode="APPEND"/>
		</async>
		<db:insert doc:name="Insert" doc:id="4eec6b68-deb8-43f4-80f7-50192cd59923" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO vehicles (id, make, model, year, status)
VALUES (:id , :make , :model , :year , :status );]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	make: payload.make,
	model: payload.model,
	year: payload.year,
	status: payload.status
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
