user-authentication-sapi/src/main/mule/implementations/registerUsers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	<flow name="post:\register:application\json:user-authentication-sapi-config">
		<try doc:name="Try" doc:id="53f6efe9-b90a-4589-b30a-223c6651bbf7" >
			<validation:is-true doc:name="Is true" doc:id="f42e2888-c316-4362-b786-cb62d2d67ee7" expression="#[payload.password == payload.confirmPassword]" message="Invalid username or password" />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="95940e4b-a6e7-4814-84dc-d663de84ed8d" type="VALIDATION:INVALID_BOOLEAN">
					<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message" : "The password and confirm password should match"&#10;}]' doc:name="Set Payload" doc:id="bf049407-204b-40de-9998-2775564c55a8" mimeType="application/json"/>
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Choice" doc:id="f24721ab-231f-4717-9a2f-9495847743f1" >
			<when expression='#[payload.message == "The password and confirm password should match"]'>
				<logger level="INFO" doc:name="Logger" doc:id="863ec6b6-3eac-47e4-9d08-114182f39268" message="#[payload]"/>
			</when>
			<otherwise >
				<set-variable value="#[payload.userName]" doc:name="Set Variable user" doc:id="35640904-a9aa-4661-b88d-78b1baef0358" variableName="user" />
				<os:store doc:name="Store" doc:id="a2dab9d4-0f6b-4788-b4ce-440616002473" key="#[payload.userName]" objectStore="user_Object_store" failIfPresent="true" >
					<os:value ><![CDATA[#[%dw 2.0
output application/json
---
{
	"firstName": payload.firstName,
	"lastName": payload.lastName,
	"userName": payload.userName,
	"password": payload.password
}]]]></os:value>
				</os:store>
				<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  userName: payload.userName
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="f46b36b2-8150-43ff-8552-753f5d508352" message='#[payload.userName ++ " was successfully registered"]'/>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="887a8682-98cd-4886-ac13-29aaaf9c86e8" type="OS:KEY_ALREADY_EXISTS">
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"message" : vars.user ++ " already exists, Please try again"&#10;}]' doc:name="Set Payload" doc:id="5fc9baf8-57cd-491d-a208-3dc9017b2168" />
				<logger level="INFO" doc:name="Logger" doc:id="0b3fe4fb-902d-4cfd-a71d-737803ce0276" message='#[vars.user ++ " already exists, Please try again" as String]' />
			</on-error-continue>
		</error-handler>
    
</flow>
	
	
</mule>
